<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <title><%= title %></title>
</head>

<body>
    <main>

        <div class="ui pointing menu">
            <a class="item" href="/users">Users</a>
            <a class="item" href="/threads">Threads</a>
            <a class="item" href="/threads/new">New Thread</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <a class="ui item" href="/logout">Logout</a>
            </div>
        </div>
